asgiref==3.5.2
Babel==2.11.0
dj-database-url==1.2.0
Django==4.1.4
django-heroku==0.3.1
docxcompose==1.4.0
docxtpl==0.16.4
et-xmlfile==1.1.0
Jinja2==3.1.2
lxml==4.9.2
MarkupSafe==2.1.1
openpyxl==3.0.10
psycopg2==2.9.5
python-docx==0.8.11
pytz==2022.6
six==1.16.0
sqlparse==0.4.3
tzdata==2022.7
whitenoise==6.2.0