* {
  font-size: 12pt;
  font-family: Arial;
}

body {
  background-color: #060606;
  color: #727272;
}

#header {
  margin-bottom: 0.25em;
  width: 100%;
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
}

#reportscount {
  margin: 0.2em 0 0.2em 0.2em;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

#newreport {
  height: 4em;
  width: 3em;
  background-image: url(img/newreport.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0.25em;
}

#adminpanel {
  height: 2em;
  width: 3em;
  background-image: url(img/admin.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0.25em;

}

#logout {
  height: 2em;
  width: 3em;
  background-image: url(img/exit.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0.25em;


}

#logadmin {
display:flex;
  flex-direction: column;
}

.reportblock {
  margin-bottom: 0.25em;
  width: 100%;
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
}

.reportdata {
  margin: 0.2em 0 0.2em 0.2em;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  text-decoration: none;
  color: white;
}

.date {
  padding: 0.2em;
  text-decoration: underline;
  height: auto;
}

.reportnum {
  padding: 0.2em;
  text-align: right;
  text-decoration: underline;
  height: auto;
}

.reportname {
  padding: 0.2em;
  width: 100%;
}

.contractbill {
  margin: 0.2em;
  display: flex;
  align-items: center;
}

.contract {
  height: 4em;
  width: 3em;
  background-image: url(img/contr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0.25em;
}

.bill {
  width: 3em;
  height: 4em;
  background-image: url(img/excel.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0.25em;
}

#adminpanel:active, #newreport:active, .bill:active, .contract:active, .reportblock:active {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.50)inset;
}
