* {
    font-size: 12pt;
}

#listall {
    display: block;
}

.reportblock {
    margin-bottom: 0.25em;
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    justify-content: space-between;
}

/*navajowhite*/

.reportdata {
    margin: 0.2em 0 0.2em 0.2em;
    display: flex;
    flex:auto;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content:flex-start;


}

.date {
    padding: 0.2em;
    text-decoration: underline;
    height:auto;
}

.reportnum {
    padding: 0.2em;
    text-align: right;
    text-decoration: underline;

    height:auto;
}

.reportname {
    padding: 0.2em;
    width: 100%;


}




.contractbill {
    margin: 0.2em;
    display: flex;
}

.contract {
    margin-right: 0.2em;
    background-color: grey;
    height: 4em;
    width: 3em;

}

.bill {
    background-color: blue;
    height: 4em;
    width: 3em;
}
