* {
    font-size: 12pt;
    font-family: Arial;
}

#listall {
    display: block;
}

#newreport {
    display: inline-block;
    margin-left: 0.2em;
    height: 4em;
    width: 3em;
    background-image: url(newreport.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: left;
}

#adminpanel {
    display: inline-block;
    margin-right: 0.2em;
    height: 4em;
    width: 3em;
    background-image: url(admin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: right;
}

#reportscount {
    display: inline-block;
    margin: 0.2em;
    height: 4em;
    width: calc(100% - 6.8em);
    float: left;
    text-align: center;
}

#adminpanel:active, #newreport:active {
    box-shadow: 0 2px 5px gray inset;
}

.reportblock {
    margin-bottom: 0.25em;
    width: 100%;
    background-color: #FFF8DC;
    display: flex;
    justify-content: space-between;
}

/*navajowhite*/
.reportdata {
    box-shadow: 0 2px 5px gray;
    margin: 0.2em 0 0.2em 0.2em;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    text-decoration: none;
    color: black;
}

.date {
    padding: 0.2em;
    text-decoration: underline;
    height: auto;
}

.reportnum {
    padding: 0.2em;
    text-align: right;
    text-decoration: underline;
    height: auto;
}

.reportname {
    padding: 0.2em;
    width: 100%;
}

.contractbill {
    margin: 0.2em;
    display: flex;
}

.contract {
    margin-right: 0.2em;
    box-shadow: 0 2px 5px gray;
    height: 100%;
    width: 3em;
    background-image: url(contr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bill {
    box-shadow: 0 2px 5px gray;
    width: 3em;
    height: 100%;
    background-image: url(excel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bill:active {
    box-shadow: 0 2px 5px gray inset;
}

.contract:active {
    box-shadow: 0 2px 5px gray inset;
}

.reportdata:active {
    box-shadow: 0 2px 5px gray inset;
}
