* {
  margin: 0;
  /*  font-size: 18pt;
  font-family: Arial; */
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #060606;
}

#login {
  position: fixed;
  width: 16rem;
  height: 16rem;
  bottom: calc(50% - 8rem);
  left: calc(50% - 8rem);
  background: #262626;
}

.textfield {
  width: 12rem;
  height: 2rem;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  border: 0;
  background: white;
}

#button {
  height: 4rem;
  width: 14rem;
  margin: 1rem;
  padding: 0;
  border: 0;
  border-radius: 0.5rem;
  background: #3880B4;
  color: white;
  font-weight: bold;
}

#button:active {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.50)inset;
}
