* {
  margin: 0;
  /*  font-size: 18pt;
  font-family: Arial; */
}

body, html {
  width: 100%;
  height: 100%;
}

#login {
  position: fixed;
  width: 16rem;
  height: 16rem;
  bottom: calc(50% - 8rem);
  left: calc(50% - 8rem);
  background: #C5C6C6;
}

.textfield {
  width: 12rem;
  height: 2rem;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  border: 0;
  background: white;
}

#button {
  height: 4rem;
  width: 14rem;
  margin: 1rem;
  padding: 0;
  border: 0;
  border-radius: 1rem;
  background: #179AFF;
  color: white;
  font-weight: bold;
}

#button:active {
  background: #008FFF;
}
