* {
  margin: 0;
  font-size: 18pt;
  font-family: Arial;
}

body, html {
  width: 100%;
  height: 100%;
}

#login {
  border: 0;
  width: calc(100% - 10px);
  margin: 5px;
  position: fixed;
  bottom: calc(50% - 5em);
  background-color: white;
  text-align: center;
  height:10em;
}

.textfield {
  width: 95%;
}

#button {
  background-color: white;
  height: 2em;
  width: 4em;

}

#button:hover {
  background-color: #D3D3D3;
}

#button:active {
  background-color: Silver;
}
