*{font-size: 24pt;}
#button{background-color:#D3D3D3; position: relative;
left: 50%;
box-shadow: 0 0 1em rgba(0,0,0,0.4);
transform: translate(-50%, 0);
height:3.5em;
width:3.5em;

text-decoration: none; /* убирать подчёркивание у ссылок */
user-select: none; /* убирать выделение текста */
outline: none; /* убирать контур в Mozilla */


border-radius: 50%;
border: 0;
 background-image: url(fingerprint.png);
 background-size:cover;}
 #button:hover{background-color:Silver;
box-shadow: 0 0 1em rgba(0, 0, 0,0.6);
  transition-duration: 0s;
 }
  #button:active{
      background-color:DarkGray;
box-shadow: 0 0 1em rgba(0, 0, 0,0.8);
height:3.3em;
width:3.3em;

  transition-duration: 0.5s;
 }
#all{width:100%;}
.textfield{width:100%}

#header{text-align: center;}
