* {
  font-size: 18pt;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

#button {
  background-color: white;
  position: relative;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%, -50%);
  height: 2.5em;
  width: 4em;
  text-decoration: none;
  /* убирать подчёркивание у ссылок */
  user-select: none;
  /* убирать выделение текста */
  outline: none;
  /* убирать контур в Mozilla */
  /*
box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
   background-image: url(img/fingerprint.png);
    background-size: cover;
    border-radius: 0%;
    border: 0;*/
}

#button:hover {
  background-color: #D3D3D3;
  transition-duration: 0s;
}

#button:active {
  background-color: Silver;
  transition-duration: 0.2s;
  font-size: 17.5pt;
}

#all {
  height: 100%;
  width: 100%;
  position: absolute;
}

#login {
  margin-left: 5%;
  width: 90%;
  padding-top: 50%;
}

.textfield {
  width: 100%
}

#header {
  text-align: center;
}
