* {
    font-size: 12pt;
    font-family: Arial;
}

html {
    margin: 0;

}

body {
    margin: 0;
overscroll-behavior: none;
}


.empty_div {
    display: block;
    content: "";
    margin-top: 0;

}


#first_empty_div {
    height: 5.5em;
}

.navigation_l {
    display: inline-flex;
    justify-content: space-between;
    position: fixed;
    background: white;
    margin: 0;
    border: 0.1em solid white;
}

#navigation_a {
    width: calc(100% - 0.2em);
}

#navigation_b {
    margin-top: 2.7em;
    width: calc(100% - 0.2em);
}

#intermediate_calc {
    position: fixed;
    bottom: 2.5em;
    right: 2.5em;
    background: black;
    color: white;
    padding: 0.1em 0.3em 0.1em 0.3em;
    opacity: .6;
    border-radius: 0.5em;
    text-align: right;
}

.square {
    width: 2.5em;
    height: 2.5em;
    margin: 0.1em;
    background: LightSkyBlue;
    background-size: cover;
    border-radius: 0.5em;
}

.square:hover {
    background: red;
    background-size: cover;
}

.block {
    display: block;
    width: calc(100% - 0.6em);
    height: 2.6em;
    margin: 0.2em;
    padding: 0.1em;
    background-color: navajowhite;
    vertical-align: bottom;
    border-radius: 0.1em;
}

.checkbox_style {
    width: 2.6em;
    height: 2.6em;
    margin: 0 0.1em 0 0;
    float: left;
    border: 0;
}

.text_style, .quant, .cost, .norm, .position, .text_line, .paint, #vehicle_type, #vehicle_body_type, #cost_per_hour, #customer_name, #vehicle_location, .dates, .action_type_half, .text_style_half {
    float: left;
    border: none;
    padding: 0.0625em;
        border-radius: 0.1em;
}

.text_style {
    width: calc(100% - 2.9em);
    border: 0;
    height: 1.125em;
    margin-bottom: 0.1em;
}

.text_style_hide {
    display: none;
}

.hidden_field, #hidden_field {
    display: none;
    margin-left: 0.2em;
}

.result {
    margin-left: 0.2em;
}



.action_type_half {
    float: left;
    width: 5.9em;
    height: 1.25em;
    margin: 0 0.1em 0.1em 0;
    background: white;
    border: none;
}

.text_style_half {
    float: left;
    width: calc(100% - 8.9em);
    border: 0;
    height: 1.125em;
    margin-bottom: 0.1em;
}

.position {
    width: 4.25em;
    border: 0;
    height: 1.125em;
    margin-right: 0.1em;
}

.action_type {
    float: left;
    height: 1.25em;
    width: 6.75em;
    margin-right: 0.1em;
    background: white;
    border: none;
}

.norm {
    width: 2.75em;
    border: 0;
    height: 1.125em;
    margin-right: 0.1em;
    text-align: center;
    font-weight: bold;
}

.headline { margin-top: 1em; margin-bottom: 0.5em; text-align: center; }
#inv, .inv, .vremenno { display: none; }

.paint {
    width: 2em;
    height: 1.125em;
    border: 0;
    margin-right: 0.1em;
    text-align: center;
    color: green;
}

.quant {
    width: 2em;
    height: 1.125em;
    border: 0;
    margin-right: 0.1em;
    text-align: center;
}

.cost {
    float: right;
    border: 0;
    height: 1.125em;
    margin: none;
    font-weight: bold;
    line-height: 1.125em
}

.text_line, .dates {
    width: calc(100% - 0.2em);
    margin-top: 0.1em;
}

.dates {
    height: 1.125em;
}

.half_selectbox {
    float: left;
    height: 1.25em;
    width: calc(30% - 0.15em);
    margin-left: 0.1em;
    background: white;
    border: none;
}

.full_selectbox {
    height: 1.25em;
    width: calc(100% - 0.1em);
    background: white;
    border: none;
}

#vehicle_type, #vehicle_body_type, #cost_per_hour, #customer_name, #vehicle_location {
    width: calc(70% - 0.15em);
}

h4 {
    margin: 0 0 0 0.3em;
}

#vehicle_info_icon {
    background-image: url(img/vinfo.png);
}

#report_info_icon {
    background-image: url(img/rinfo.png);
}

#icon_01 {
    background-image: url(img/01.png);
}

#icon_02 {
    background-image: url(img/02.png);
}

#icon_03 {
    background-image: url(img/03.png);
}

#icon_04 {
    background-image: url(img/04.png);
}

#icon_05 {
    background-image: url(img/05.png);
}

#icon_06 {
    background-image: url(img/06.png);
}

#icon_07 {
    background-image: url(img/07.png);
}

#icon_08 {
    background-image: url(img/08.png);
}

#icon_09 {
    background-image: url(img/09.png);
}

#icon_10 {
    background-image: url(img/10.png);
}

#icon_11 {
    background-image: url(img/11.png);
}

#icon_12 {
    background-image: url(img/12.png);
}

#icon_13 {
    background-image: url(img/13.png);
}

#calc_icon {
    background-image: url(img/calc.png);
}


#parts_box.inv { display: none; }
#parts_table th, #parts_table td { border:1px solid #ddd; padding:.3em; }
#parts_table td.qty   { text-align:center; }
#parts_table td.sum   { text-align:right; font-weight:600; }
#parts_table input.price { width:100%; text-align:right; border:0; height:1.6em; }


/*
@media screen and (max-width:1281px) {body {font-size: 140%;}}
@media screen and (max-width:800px) {body {font-size: 120%;}}
@media screen and (min-width:341px) and (max-width:500px) {body {font-size: 120%;}}
@media screen and (max-width:340px) {body {font-size: 100%;}}
*/
